<div id="tab1">
     <div class="min-box">
       <h3 class="box-title"><a href="#">港北の家</a></h3>
       <p class="h-img"><a href="#"><%= image_tag("top/kouhoku-h.jpg", size: "260x170", alt: "港北の家") %></a></p>
       <ul class="attr clearfix">
        <li class="date"><a href="#">トラフ建築設計事務所</a></li>
        <li class="cat">House</li>
       </ul>
       <p class="box-text">｢光を採り込む筒型屋根の集合による柔らかな分節と連続」フジツボが集まってできたような筒型の屋根が、隣地の建物を避けて方々に向きながら上部から光を採り込む。
       </p>
       <p class="more"></p>
     </div><!--min-box end--> 
     
     <div class="min-box2">
     <h3 class="box-title"><a href="#">Dancing trees Singing birds</a></h3>
     <p class="h-img"><a href="#"><%= image_tag("top/dancing-h.jpg", size: "260x170", alt: "Dancing trees Singing birds") %></a></p>
     <ul class="attr clearfix">
      <li class="date"><a href="#">NAP建築設計事務所</a></li>
      <li class="cat">House</li>
     </ul>
     <p class="box-text">『Dancing tree Singing birds』は都心の一等地に建っている集合住宅である。中村拓志はこの建築を創造するにあたり、「木々が建物の形を決めていった。
     </p>
     <p class="more"></p>
    </div><!--min-box end-->
    
    <div class="min-box3">
     <h3 class="box-title"><a href="#">House-K</a></h3>
     <p class="h-img"><a href="#"><%= image_tag("top/house-k.jpg", size: "260x170", alt: "House-K") %></a></p>
     <ul class="attr clearfix">
      <li class="date"><a href="#">藤本壮介建築設計事務所</a></li>
      <li class="cat">House</li>
     </ul>
     <p class="box-text">『House K』は、屋根がテラスになるユニークな住宅である。急斜面の丘になったような形状の建物は、地面から傾斜が始まっており、建物西側は2階の高さ迄になっている。
     </p>
     <p class="more"></p>
    </div><!--min-box end-->

    <div class="min-box4">
     <h3 class="box-title"><a title="地御前の家" href="#">地御前の家</a></h3>
     <p class="h-img"><a href="#"><%= image_tag("top/jigozen-h.jpg", size: "260x170", alt: "地御前の家") %></a></p>
     <ul class="attr clearfix">
      <li class="date"><a href="#">谷尻誠建築設計事務所</a></li>
      <li class="cat">House</li>
     </ul>
     <p class="box-text">『地御前の家の家』は海の前に建つ３人家族のための住宅である。この建築は、内部と外部のあいだ、半屋外空間があることで外部と内部の環境を緩やかに繋いでいる。</p>
     <p class="more"></p>
    </div><!--min-box end-->

    <div class="min-box3">
     <h3 class="box-title"><a title="one-roof-apartment" href="#">one-roof-apartment</a></h3>
     <p class="h-img"><a href="#"><%= image_tag("top/one-roof-apartment.jpg", size: "260x170", alt: "one-roof-apartment") %></a></p>
     <ul class="attr clearfix">
      <li class="date"><a href="#">平田晃久建築設計事務所</a></li>
      <li class="cat">House</li>
     </ul>
     <p class="box-text">『one roof apartment』は新潟にある集合住宅です。ここは雪が積もる場所なので、大きな要領を二つに分岐させ北風や雪から守られたスペースをつくるように構想された。
     </p>
     <p class="more"></p>
    </div><!--min-box end-->

    <div class="min-box4">
     <h3 class="box-title"><a title="MEZZANINE" href="#">MEZZANINE</a></h3>
     <p class="h-img"><a href="#"><%= image_tag("top/mezzanine.jpg", size: "260x170", alt: "mezzanine") %></a></p>
     <ul class="attr clearfix">
      <li class="date"><a href="#">吉村靖孝建築設計事務所</a></li>
      <li class="cat">House</li>
     </ul>
     <p class="box-text">「MEZZANINE」は富士北山麓の別荘である。南側に充分な大きさの庭を確保した上で、北側の借景を取り込んで最大限この敷地を大きく使うよう配慮した。
     </p>
     <p class="more"></p>
    </div><!--min-box end-->


    <div class="min-box3">
     <h3 class="box-title"><a title="丘のある家" href="#">丘のある家</a></h3>
     <p class="h-img"><a href="#"><%= image_tag("top/okano-h.jpg", size: "260x170", alt: "丘のある家") %></a></p>
     <ul class="attr clearfix">
      <li class="date"><a href="#">永山祐子建築設計事務所</a></li>
      <li class="cat">House</li>
     </ul>
     <p class="box-text">「丘のある家」は、狭い道と高い建物に囲まれた住宅である。奥行きを生む丘に見立てた屋根の先端には届かない場所の象徴として小さな白いオブジェか設置されている。
     </p>
     <p class="more"></p>
    </div><!--min-box end-->

    <div class="min-box4">
     <h3 class="box-title"><a title="House-M" href="#">House-M</a></h3>
     <p class="h-img"><a href="#"><%= image_tag("top/house-m.jpg", size: "260x170", alt: "House-M") %></a></p>
     <ul class="attr clearfix">
      <li class="date"><a href="#">五十嵐淳建築設計事務所</a></li>
      <li class="cat">House</li>
     </ul>
     <p class="box-text">『House M』はとても天井が高く設定させれている。各単位空間の周りにはバッファーを設けるようにしており、それは廊下であったり、外部であったりすること。
     </p>
     <p class="more"></p>
    </div><!--min-box end-->

    <div class="min-box5">
     <h3 class="box-title"><a title="二重螺旋の家" href="#">二重螺旋の家</a></h3>
     <p class="h-img"><a href="#"><%= image_tag("top/rasen-h.jpg", size: "260x170", alt: "二重螺旋の家") %></a></p>
     <ul class="attr clearfix">
      <li class="date"><a href="#">大西麻貴建築設計事務所</a></li>
      <li class="cat">House</li>
     </ul>
     <p class="box-text">『二重螺旋の家』は東京世田谷の小さな住宅である。敷地が旗竿形状であったため、路地からの内部まで続くアプローチがそのまま螺旋状に巻きついている。
     </p>
     <p class="more"></p>
    </div><!--min-box end-->
     
</div><!--tab1 END -->

<div id="tab2" class="tab">
      <div class="min-box">
     <h3 class="box-title"><a href="#">インスタレーション</a></h3>
     <p class="h-img"><a href="#"><%= image_tag("top/installation.jpg", size: "260x170", alt: "インスタレーション") %></a></p>
     <ul class="attr cfx">
      <li class="date"><a href="#">トラフ建築設計事務所</a></li>
      <li class="cat">Interior</li>
     </ul>
     <p class="box-text">｢TOKYO DESIGNERS WEEK2011における、ドコモの携帯端末UIを利用した「docomo Palette UI」のためのインスタレーションと、TOTOの水を表現した「MINAMO」である。
     </p>
     <p class="more"></p>
    </div><!--min-box end--> 
    
    <div class="min-box2">
     <h3 class="box-title"><a title="Tokyo's-Tokyo" href="#">Tokyo's Tokyo</a></h3>
     <p class="h-img"><a href="#"><%= image_tag("top/Tokyos-Tokyo.jpg", size: "260x170", alt: "Tokyo's Tokyo") %></a></p>
     <ul class="attr cfx">
      <li class="date"><a href="#">NAP建築設計事務所</a></li>
      <li class="cat">Interior</li>
     </ul>
     <p class="box-text">『Tokyo's Tokyo』は、羽田空港にできた東京発の旅のお土産店舗だ。第２旅客ターミナルの３階、ブックショップやステーショナリーショップなどが軒を並べるエリアに在る。 </p>
     <p class="more"></p>
    </div><!--min-box end-->
    
    <div class="min-box3">
     <h3 class="box-title"><a title="House-K" href="#">武蔵野美術大学図書館</a></h3>
     <p class="h-img"><a href="#"><%= image_tag("top/Tokyos-Tokyo.jpg", size: "260x170", alt: "武蔵野美術大学図書館") %></a></p>
     <ul class="attr cfx">
      <li class="date"><a href="#">藤本壮介建築設計事務所</a></li>
      <li class="cat">Interior</li>
     </ul>
     <p class="box-text">この建築を表現するならば、「壁の書棚」である。床から天井の二階分の書棚が外から中へ螺旋を描いている。内部からも大きな窓ごしに木陰の書棚壁が見え隠れしている。
     </p>
     <p class="more"></p>
    </div><!--min-box end-->

    <div class="min-box4">
     <h3 class="box-title"><a title="earth-music" href="#">earthmusic&ecology Store</a></h3>
     <p class="h-img"><a href="#"><%= image_tag("top/earth-music.jpg", size: "260x170", alt: "earthmusic&ecology Store") %></a></p>
     <ul class="attr cfx">
      <li class="date"><a href="#">谷尻誠建築設計事務所</a></li>
      <li class="cat">Interior</li>
     </ul>
     <p class="box-text">『earthmusic&ecology Store』は林立した木の柱を構造にし、木の天板で挟み込んでいる。柱は木の自然色と白く塗られた2色で構成されており、場所によって見える景色が変化する。
     </p>
     <p class="more"></p>
    </div><!--min-box end-->

    <div class="min-box3">
     <h3 class="box-title"><a title="Yoshioka-Library" href="#">Yoshioka Library</a></h3>
     <p class="h-img"><a href="#"><%= image_tag("top/yoshioka-l.jpg", size: "260x170", alt: "Yoshioka Library") %></a></p>
     <ul class="attr cfx">
      <li class="date"><a href="#">平田晃久建築設計事務所</a></li>
      <li class="cat">Interior</li>
     </ul>
     <p class="box-text">『Yoshioka Library』は建築を志す人々の情報収集および情報発信の場となることを目指し誕生した。廃止になった建築雑誌や古くて貴重な本などを貯蔵している。
     </p>
     <p class="more"></p>
    </div><!--min-box end-->

    <div class="min-box4">
     <h3 class="box-title"><a title="TDW05" href="#">TDW05-HOUSE-STYLING</a></h3>
     <p class="h-img"><a href="#"><%= image_tag("top/TDW05.jpg", size: "260x170", alt: "TDW05") %></a></p>
     <ul class="attr cfx">
      <li class="date"><a href="#">吉村靖孝建築設計事務所</a></li>
      <li class="cat">Interior</li>
     </ul>
     <p class="box-text">「TDW05-HOUSE-STYLING」は作品を内包し、展示するためにデザインした作品である。この無数に空いた覗き穴から見る事で、色々な角度から作品を見てもらうことが狙いである。
     </p>
     <p class="more"></p>
    </div><!--min-box end-->

    <div class="min-box3">
     <h3 class="box-title"><a title="kami" href="#">kami</a></h3>
     <p class="h-img"><a href="#"><%= image_tag("top/kami.jpg", size: "260x170", alt: "kami") %></a></p>
     <ul class="attr cfx">
      <li class="date"><a href="#">中村竜治建築設計事務所</a></li>
      <li class="cat">Interior</li>
     </ul>
     <p class="box-text">『kami』シリーズは中村竜治の繊細なイメージの象徴である。この「hechima」は紙を使って波板を重ねてつくる椅子で、波板のくり抜き方でいろいろな形ができるというものです。
     </p>
     <p class="more"></p>
    </div><!--min-box end-->

    <div class="min-box4">
     <h3 class="box-title"><a title="Afloat" href="#">Afloat</a></h3>
     <p class="h-img"><a href="#"><%= image_tag("top/Afloat.jpg", size: "260x170", alt: "Afloat") %></a></p>
     <ul class="attr cfx">
      <li class="date"><a href="#">永山祐子建築設計事務所</a></li>
      <li class="cat">Interior</li>
     </ul>
     <p class="box-text">表参道のハナエモリビルの裏手にある大きな美容室。所々吹き抜けのある1〜2層の高さを持つ空間に直径2.4m、22個のパラボラアンテナが床から一定の高さに吊るされている。
     </p>
     <p class="more"></p>
    </div><!--min-box end-->

    <div class="min-box5">
     <h3 class="box-title"><a title="TOTO" href="#">状態の構築展</a></h3>
     <p class="h-img"><a href="#"><%= image_tag("top/TOTO.jpg", size: "260x170", alt: "状態の構築展") %></a></p>
     <ul class="attr cfx">
      <li class="date"><a href="#">五十嵐淳建築設計事務所</a></li>
      <li class="cat">Interior</li>
     </ul>
     <p class="box-text">『TOTOギャラリー 状態の構築展』は五十嵐淳のこれまでの作品を展示する個展である。スケールアップした模型や、個展のために作成したインスタレーション等がも展示している。
     </p>
     <p class="more"></p>
    </div><!--min-box end-->

    <div class="min-box6">
     <h3 class="box-title"><a title="大西麻貴 展覧会" href="#">大西麻貴 展覧会</a></h3>
     <p class="h-img"><a href="#"><%= image_tag("top/tenrankai.jpg", size: "260x170", alt: "大西麻貴 展覧会") %></a></p>
     <ul class="attr cfx">
      <li class="date"><a href="#">大西麻貴建築設計事務所</a></li>
      <li class="cat">Interior</li>
     </ul>
     <p class="box-text">ヨコハマトリエンナーレ2011特別連携プログラム、新港村にて行われた展覧会。東京デザイナーズウィーク2010のブースデザインのためにペットボトルを使用して制作したライト。
     </p>
     <p class="more"></p>
    </div><!--min-box end--> 
</div><!--tab2 END -->
  
    <div id="tab3" class="tab">
   	  <div class="min-box">
        <h3 class="box-title"><a href="Profile/Torafu/syousai/inogashira.html">井の頭公園の住宅</a></h3>
        <p class="h-img"><a href="Profile/Torafu/syousai/inogashira.html"><%= image_tag("top/kouhoku-h.jpg", size: "260x170", alt: "LEXUS") %></a></p>
        <ul class="attr clearfix">
          <li class="date"><a href="Profile/Torafu/Torafu.html">トラフ建築設計事務所</a></li>
          <li class="cat">Renovation</li>
        </ul>
        <p class="box-text">もともと社宅であった建物を一棟まるごとリノベーションして分譲マンションとして再生する計画の中で、一住戸のリノベーションを手掛けた。家の中全体を巡るラインをつくった。
        </p>
        <p class="more"></p>
      </div><!--min-box end--> 
    </div><!--tab3 END -->
   
    <div id="tab4" class="tab">
   	  <div class="min-box">
        <h3 class="box-title"><a href="Profile/Torafu/syousai/ha-man.html">ハーマンミラーストア東京</a></h3>
        <p class="h-img"><a href="Profile/Torafu/syousai/ha-man.html"><%= image_tag("top/kouhoku-h.jpg", size: "260x170", alt: "LEXUS") %></a></p>
        <ul class="attr clearfix">
          <li class="date"><a href="Profile/Torafu/Torafu.html">トラフ建築設計事務所</a></li>
          <li class="cat">Commercial</li>
        </ul>
        <p class="box-text">計画地である丸の内の周辺環境を踏まえ、公園のような気軽さを持って訪れることのできるストアを提案した。床面に配された多種多様な素材は、空間に彩りを与える。
        </p>
        <p class="more"></p>
      </div><!--min-box end--> 
    </div><!--tab4 END -->