<div id="contentsu">
  <div id="contentsu-in" class="clearfix">
    <div class="title_box">
     <%= image_tag("designer/designer.jpg", size: "173x41", alt: "designer") %>
    </div>
    <div class="title_mid">
     <%= image_tag("designer/midashi.jpg", size: "1000x20", alt: "midashi") %>
    </div>
    <div class="img-box">
     <%= image_tag("designer/graf.jpg", size: "1000x330", alt: "graf") %>
    </div>
    <div id="designer-box">
      <div id="designer-left">
        <ul>
          <li class="o1"><%= link_to image_tag("designer/torafu_out.jpg", size: "350x200", alt: "Torafu"), designer_torafu_path %></li>
          <li class="o2"><%= link_to image_tag("designer/fujimoto_out.jpg", size: "350x200", alt: "Fujimoto"), designer_fujimoto_path %></li>
          <li class="o3"><%= link_to image_tag("designer/hirata_out.jpg", size: "350x200", alt: "hirata"), designer_hirata_path %></li>
          <li class="o4"><%= link_to image_tag("designer/nagayama_out.jpg", size: "350x200", alt: "nagayama"), designer_nagayama_path %></li>
          <li class="o5"><%= link_to image_tag("designer/igarashi_out.jpg", size: "350x200", alt: "igarashi"), designer_igarashi_path %></li>
        </ul>
      </div>
      <div id="designer-right">
        <ul>
          <li class="o6"><%= link_to image_tag("designer/nakamurah_out.jpg", size: "350x200", alt: "nakamurah"), designer_nakamurah_path %></li>
          <li class="o7"><%= link_to image_tag("designer/tanijiri_out.jpg", size: "350x200", alt: "tanijiri"), designer_tanijiri_path %></li>
          <li class="o8"><%= link_to image_tag("designer/yoshimura_out.jpg", size: "350x200", alt: "yoshimura"), designer_yoshimura_path %></li>
          <li class="o9"><%= link_to image_tag("designer/nakamurar_out.jpg", size: "350x200", alt: "nakamurar"), designer_nakamurar_path %></li>
          <li class="o10"><%= link_to image_tag("designer/oonishi_out.jpg", size: "350x200", alt: "oonishi"), designer_oonishi_path %></li>
        </ul>
      </div>
    </div>

  </div>
</div>

