<div class="slide-box">
  <div id="gallery" class="section">
    <div class="sectionContent">
	    <ul id="photoGallery">
		    <li><%= link_to image_tag("slide/nike.jpg", size: "530x370", alt: "NIKE 1 LOVE トラフ建築設計事務所"), root_path %></li>
		    <li><%= link_to image_tag("slide/lanvin.jpg", size: "530x370", alt: "Lanvin Boutique Ginza 中村拓志"), root_path %></li>
		    <li><%= link_to image_tag("slide/housen.jpg", size: "530x370", alt: "HouseN 藤本壮介"), root_path %></li>
		    <li><%= link_to image_tag("slide/nike.jpg", size: "530x370", alt: "NIKE 1 LOVE"), root_path %></li>
		    <li><%= link_to image_tag("slide/nike.jpg", size: "530x370", alt: "NIKE 1 LOVE"), root_path %></li>
	    </ul>
    </div>
    <div class="sectionContent2">
	    <ul id="photoGallery2">
		    <li><%= image_tag("slide/lexus1.jpg", size: "300x370", alt: "LEXUS") %></li>
		    <li><%= image_tag("slide/lexus2.jpg", size: "300x370", alt: "LEXUS") %></li>
		    <li><%= image_tag("slide/lexus3.jpg", size: "300x370", alt: "LEXUS") %></li>
		    <li><%= image_tag("slide/lexus4.jpg", size: "300x370", alt: "LEXUS") %></li>
		    <li><%= image_tag("slide/lexus5.jpg", size: "300x370", alt: "LEXUS") %></li>
	    </ul>
    </div>
  </div>
</div>