<!--トップページ スライド-->
<%= render 'shared/slide' %>

<div id="contentsu" class="clearfix">
 <div id="contentsu-in">
   <div class="center_box">
    <h2><%= image_tag("top/archi.jpg", size: "247x35", alt: "LEXUS") %></h2>
      <ul class="tabs">
       <li class="tab2 ab-l" id="tabA"><a href="#tab1" onclick="FocusTab('tabA'); ChangeTab('tab1'); return false;">House Design</a></li>
       <li class="tab2 ab-r" id="tabB"><a class="tab3" href="#tab2" onclick="FocusTab('tabB'); ChangeTab('tab2'); return false;">Interior Design</a></li>
       <li class="tab2 ab-r" id="tabC"><a class="tab3" href="#tab3" onclick="FocusTab('tabC'); ChangeTab('tab3'); return false;">Renovation Design</a></li>
       <li class="tab2 ab-r" id="tabD"><a class="tab3" href="#tab4" onclick="FocusTab('tabD'); ChangeTab('tab4'); return false;">Commercial Space Design</a></li>
      </ul>
    <%= render 'shared/tab' %>
  </div><!--center_boxEND>-->
   
  <div id="right_box">
    <h2><%= image_tag("top/designer.jpg", size: "155x35", alt: "LEXUS") %></h2>
     <ul class="ab-2">
      <li class="ab-l2"><%= link_to "Architect Designer", designer_path %></li>
     </ul>
   <%= render 'shared/tab2' %>
   </div><!--right_boxEND>-->
   
 </div><!--contentsu-in END>-->
</div><!--contentsu END>-->