<div id="contentsu">
  <div id="contentsu-in" class="clearfix">
    
	<div class="title_box">
     <%= image_tag("produce/produce.jpg", size: "307x42", alt: "produce") %>
    </div>
    <div class="title_mid">
     <%= image_tag("produce/midashi.jpg", size: " 1000x20", alt: "midashi") %>
    </div>
	  <div class="main-title">
        <h2>9-NINEの特徴</h2>
    </div>
  </div><!--contentsu-in -->
</div><!--contentsu -->

<div class="content_box clearfix">
  <div class="content_main clearfix"> 
	  <div class="m_box">
	      <%= image_tag("produce/search.png", size: "130x130", alt: "search") %>
        <h3 class="box-title">⒈適切な協力会社を発見！</h3>
        <p>9-NINEには弊社独自の基準によって厳選されのみ登録されています。<br>
        設計・施工を行う協力会社とはそれぞれの会社の特徴や安全性など、詳細に把握しております。<br>
        お客様の要望を叶えるだけはなく、想像を超えた空間を想像致します！</p>
    </div>
	  <div class="m_box2">
	      <%= image_tag("produce/free.png", size: "130x130", alt: "free") %>
        <h3 class="box-title">⒉お客様の費用は全て￥0！</h3>
        <p>世界的にに有名である少数の建築家に絞ることにより、お客さまの悩みも素早く、満足度の高い答えを迅速にご用意できます。<br>
        また建築家自身で多くの受賞歴が在るので、設計された建築はデザイン系雑誌に殆ど取り上げられております！
        </p>
    </div>
	  <div class="m_box2">
	      <%= image_tag("produce/saport.png", size: "130x130", alt: "saport") %>
        <h3 class="box-title">⒊弊社による安心のサポート！</h3>
        <p>世界的にに有名である少数の建築家に絞ることにより、お客さまの悩みも素早く、満足度の高い答えを迅速にご用意できます。<br>
        また建築家自身で多くの受賞歴が在るので、設計された建築はデザイン系雑誌に殆ど取り上げられております！
        </p>
    </div>
  </div><!--content-main -->
</div><!--content-box -->

<div class="content_box2 clearfix">
  <div class="content_main2 clearfix">
      <div class="main-title">
        <h2>ご紹介する建築家・施工会社の特徴</h2>
      </div>
      <ul>
        <li class="c-type">
          <h3>建築家の特徴</h3>
	          <ul>
              <li>
                <p>圧倒的なデザイン力を有する</p>
                <span>デザインだけでなく、お客さまのニーズに基づいた提案</span>
              </li>
              <li>
                <p>コンペ受賞暦が段違い</p>
                <span>飲食, アパレル, サロン, オフィスなど全22業種に対応</span>
              </li>
              <li>
                <p>多種多様な業界設計を経験済み</p>
                <span>繋がるのが難しく、費用対効果が高い</span>
              </li>
            </ul> 
        </li>
        <li class="c-type">
          <h3>施工会社の特徴</h3>
            <ul>
              <li>
                <p>日本全国各地で対応可能</p>
                <span>見積もりの素早さ・正確さ、柔軟性・設計理解力</span>
              </li>
              <li>
                <p>小規模〜大規模まで対応可能</p>
                <span>入札における勝率、高品質、対応力</span>
              </li>
              <li>
                <p>デザイナー物件を多数経験済み</p>
                <span>ゼロから探すのではリーチが難しい</span>
              </li>
            </ul>
        </li>
      </ul>
      <div class="btn-center">
        <%= link_to '詳しくは Business Poricyへ', business_path, { :class => "btn btn-info btn-lg" } %>
      </div>
  </div><!--content-main2END -->
</div><!--content-box2 -->

  