<div id="contentsu">
  <div id="contentsu-in" class="clearfix">
    
	<div class="title_box">
     <%= image_tag("produce/produce.jpg", size: "307x42", alt: "produce") %>
    </div>
    <div class="title_mid">
     <%= image_tag("produce/midashi.jpg", size: " 1000x20", alt: "midashi") %>
    </div>
	  <div class="main-title">
        <h2>9-NINEの特徴</h2>
    </div>
  </div><!--contentsu-in -->
</div><!--contentsu -->

<div class="content_box clearfix">
  <div class="content_main clearfix"> 
	  <div class="m_box">
	      <%= image_tag("produce/search.png", size: "130x130", alt: "search") %>
        <h3 class="box-title">⒈適切な協力会社を発見！</h3>
        <p>9-NINEには弊社独自の基準によって厳選されのみ登録されています。<br>
        設計・施工を行う協力会社とはそれぞれの会社の特徴や安全性など、詳細に把握しております。<br>
        お客様の要望を叶えるだけはなく、想像を超えた空間を想像致します！</p>
    </div>
	  <div class="m_box2">
	      <%= image_tag("produce/free.png", size: "130x130", alt: "free") %>
        <h3 class="box-title">⒉お客様の費用は全て￥0！</h3>
        <p>自社で施工管理を請け負うことにより9-NINEを運営させて頂いております。<br>
        他社のようなコンサルティングのみで運営していないので、建築家やお客様からの費用は一切頂いておりません。
        </p>
    </div>
	  <div class="m_box2">
	      <%= image_tag("produce/saport.png", size: "130x130", alt: "saport") %>
        <h3 class="box-title">⒊弊社による安心のサポート！</h3>
        <p>弊社独自のサポート体制を築いております。<br>
        資金調達〜費用発生場面、工事の進捗具合など適切なアドバイスをさせて頂きます。<br>
        無料でありながら、しっかりとしたサポート体制を整えております。
        </p>
    </div>
  </div><!--content-main -->
</div><!--content-box -->

<div class="content_box2 clearfix">
  <div class="content_main2 clearfix">
      <div class="main-title">
        <h2>ご紹介する建築家・施工会社の特徴</h2>
      </div>
      <ul>
        <li class="c-type">
          <h3>建築家の特徴</h3>
	          <ul>
              <li>
                <p>圧倒的なデザイン力を有する</p>
                <span>他社・他の建築家では提案できないようなデザイン案を創出致します。</span>
              </li>
              <li>
                <p>コンペ受賞暦が段違い</p>
                <span>有名設計事務所を経由し、建築雑誌では必ず取り上げられる実績がござます。</span>
              </li>
              <li>
                <p>多種多様な業界設計を経験済み</p>
                <span>住宅のみではなく、リノベーションから中小規模の店舗〜大規模施設まで得意としている方々です。</span>
              </li>
            </ul> 
        </li>
        <li class="c-type">
          <h3>施工会社の特徴</h3>
            <ul>
              <li>
                <p>日本全国各地で対応可能</p>
                <span>東京・大阪・名古屋近辺だけはなく、全国各地で対応致します。</span>
              </li>
              <li>
                <p>小規模〜大規模まで対応可能</p>
                <span>どのような規模・提案であっても対応できるように複数の提携先がございます。</span>
              </li>
              <li>
                <p>デザイナー物件を多数経験済み</p>
                <span>一般的に難しいと言われる独自性の高いデザイナー物件も多数経験しております。</span>
              </li>
            </ul>
        </li>
      </ul>
      <div class="btn-center">
        <%= link_to '詳しくは Business Poricyへ', business_path, { :class => "btn btn-info btn-lg" } %>
      </div>
  </div><!--content-main2END -->
</div><!--content-box2 -->

  