<div id="contentsu" class="clearfix">
 <div id="contentsu-in">
   
   <div id="qa_box">
     <%= image_tag("q_a/qa.jpg", size: "105x38", alt: "Q&amp;A") %>
   </div>
   <div id="qa_box2">
     <%= image_tag("q_a/midashi.jpg", size: "984x20", alt: "midashi") %>
   </div>

    <div id="left_box_text">
      <div class="left_text">
        <%= image_tag("q_a/q.gif", size: "23x23", alt: "q") %>
   　<span class="mi">建築家を紹介して頂くにはどうしたら良いでしょうか？</span><br /><br />
   　<%= image_tag("q_a/a.gif", size: "22x21", alt: "a") %> 9-NINEに掲載しているDesignerをご覧いただき、お電話または<br />
　　　メールにて弊社まで一度ご連絡下さい。<br>
　　　その後、弊社までご来店して頂きまして、打ち合わせに入ります。
    </div>
     
    <div class="left_text">
      <%= image_tag("q_a/q.gif", size: "23x23", alt: "q") %>　<span class="mi">9-NINEはなぜ無料で利用可能なんでしょうか？</span><br /><br />
      <%= image_tag("q_a/a.gif", size: "22x21", alt: "a") %>　 <strong>施工管理・工事を弊社が受け持つ</strong>ことにより9-NINEを運営しております。<br />
　　　また、遠方の場合で弊社が施工管理・工事を請負不可能な場合には<br />
　　　弊社と提携している工事会社より<strong>工事代金の約8%〜10%</strong>を紹介手数料<br>
　　　としていただいております。<br /><br>
　　　これらの契約により建築家はその分の経費を省きます。<br />
　　　尚、紹介手数料は施工会社が外部に公表している施工管理料の内側から<br />
　　　支払うことを契約上で定めておりますので、<strong>お客様が手数用等を支払う<br />
　　　ことは一切ありません。</strong>
    </div>
   
    <div class="left_text">
      <%= image_tag("q_a/q.gif", size: "23x23", alt: "q") %>　<span class="mi">コンペ形式で建築家を選ぶことは可能でしょうか？</span><br /><br />
      <%= image_tag("q_a/a.gif", size: "22x21", alt: "a") %>　 <strong>商業プロデュース•ストアクリエイツ事業の案件</strong>でご希望があった<br />
　　　場合に限り、コンペ形式で建築家をご紹介することが可能です。<br />
　　　尚、<strong>住宅プロデュース•空間リノベーション事業</strong>でのコンペ形式で<br />
　　　ご紹介は行っておりません。<br /><br>
　　　事業系の案件については、<strong>事業の収益性•ブランド価値の創造といった<br />
　　　要素が重要</strong>となりますので、コンペ形式で複数の提案を比較・検討する<br />
　　　ことによりメリット生まれると考えております。
    </div>
       
    <div class="left_text">
      <%= image_tag("q_a/q.gif", size: "23x23", alt: "q") %>　<span class="mi">なぜ他の案件ではコンペ形式ができないのでしょうか？</span><br /><br />
      <%= image_tag("q_a/a.gif", size: "22x21", alt: "a") %>　 個人で使う建築においては、価値観や建築家個人がもつ独自性を対話を<br />
  　　　通じ、共有できる方と共に考えながら、<strong>時間をかけて細かい部分まで<br />
  　　　プランを練り上げることが成功する空間づくりです。</strong><br /><br>
  　　　感性豊かな建築家と言え、<strong>施主のことをよく知らない段階で書いた<br />
  　　　プランでは意味を持ちません。</strong>初期プランの段階から分かることは<br />
  　　　全体像だけですので、コンペで建築家を選ぶことは行いません。<br /><br>
  　　　このような理由から、9-NINEではコンペ形式は行わず、<strong>お客様との<br />
  　　　対話に重点を置いた精密なマッチングサービス</strong>を提供しております。
    </div>
  
    <div class="left_text">
      <%= image_tag("q_a/q.gif", size: "23x23", alt: "q") %>　<span class="mi">なぜ掲載する建築家を限定しているのでしょうか？</span><br /><br />
      <%= image_tag("q_a/a.gif", size: "22x21", alt: "a") %>　 9-NINEでは常に｢<strong>独自の感性を持ちブランド価値を創造可能な有名建<br />
  　　　築家</strong>｣をお客様にご紹介するため、掲載基準に高い制限を設けています。<br />
  　　　<br>
  　　　「一流の仕事を出来る建築家は多く存在しますが、<strong>超一流の仕事を出来<br />
  　　　る建築家は数える程しか存在しません</strong>」<br>
  　　　建築業界において確かな名声と実績を持った建築家をご紹介するためには、<br>
  　　　このような形態が最良であると考えております。
    </div>   
  </div>

  <div id="right_box_text">
    <div class="right_text">    
     <%= image_tag("q_a/q.gif", size: "23x23", alt: "q") %>　 <span class="mi">建築家の紹介を受けるための条件等はあるのでしょうか？</span><br /><br />
     <%= image_tag("q_a/a.gif", size: "22x21", alt: "a") %>　 <strong>サービスご利用の条件</strong>は<br />
        　　　　・建築可能な土地及び物件の具体的な検討を始めている方<br />
        　　　　・リノベーション物件の目処を着けている方<br />
        　　　　・おおよその資金計画の目処が立っている方<br />
        　　　　・１年以内に建築計画を開始する予定の方    ※（商業プロデュースは除く）<br /><br>
        　　　上記に該当しないと思われる場合でも、お気軽に弊社までご相談ください。
    </div>
        
    <div class="right_text2"> 
     <%= image_tag("q_a/q.gif", size: "23x23", alt: "q") %>　<span class="mi">他社でも検討中ですが、ご利用可能でしょうか？</span><br /><br />
     <%= image_tag("q_a/a.gif", size: "22x21", alt: "a") %>　 他社でもご検討されていることを建築家にお伝えした上でご紹介しますの<br />　　　
     で、<strong>他社とのご検討も可能</strong>です。<br />　　　
     しかし、建築家も日々多忙な業務のために、あまり長い期間ご検討されます<br />　　　と、対応出来ない場合もございます。
    </div>
        
    <div class="right_text2">
      <%= image_tag("q_a/q.gif", size: "23x23", alt: "q") %>　<span class="mi">建築家を紹介してもらる限度はあるのでしょうか？</span><br /><br />
      <%= image_tag("q_a/a.gif", size: "22x21", alt: "a") %>　 限度はございません。お気に入りさ建築家が見つかるまで何度でもご紹介<br />
        　　　させて頂きますが、<strong>建築家との基本プランから詳細プランの打ち合わせに<br />
        　　　入ってのキャンセル等は設計料が発生する場合がございます</strong>ので、十分に<br />
        　　　ご注意ください。
    </div>
        
    <div class="right_text2">
      <%= image_tag("q_a/q.gif", size: "23x23", alt: "q") %>　<span class="mi">紹介を受けた後のトラブル等が不安なのですが....</span><br /><br />
      <%= image_tag("q_a/a.gif", size: "22x21", alt: "a") %>　 弊社は建築計画には参加いたしませんが、<strong>何かご不明の点やお困りの場合は<br />
        　　　いつでも全て無料でご相談をいただけるサービスをご用意</strong>しています。<br /><br>
        　　　またそれ以外にも、建築家には言いづらい内容など、弊社にご相談いただけ<br />
              　　　れば弊社を介して解決させていただきます。
    </div>
        
    <div class="right_text2">
      <%= image_tag("q_a/q.gif", size: "23x23", alt: "q") %>　<span class="mi">工務店を選んで工事を依頼することはできますか？</span><br /><br />
      <%= image_tag("q_a/a.gif", size: "22x21", alt: "a") %>　 可能です。打ち合わせの段階にその旨を建築家にお伝えください。<br />
        　　　ですが、工務店には様々な業態があり、技術レベルも異なっております。<br />
        　　　9-NINEに掲載している建築家のプランは他社とは違い<strong>非常に高度な技術<br />
        　　　レベルが求められます</strong>ので、対応が可能なのかを建築家・工務店の双方に<br />
        　　　弊社から一度ご相談させて頂きまして、ご確認を取らせていただきます。
    </div>
        
    <div class="right_text2">
      <%= image_tag("q_a/q.gif", size: "23x23", alt: "q") %>　<span class="mi">ローン計画、資産運用等のことが分からないのですが...</span><br /><br />
      <%= image_tag("q_a/a.gif", size: "22x21", alt: "a") %>　 ご心配ありません。<strong>弊社には住宅•リノベーション•ストアクリエイツ•商業<br />
        　　　プロデュースに関する資料</strong>をご用意しております。<br />
        　　　建築にあまり詳しくない方がご覧になっても、非常に分かり易い仕様となっ<br />　　　ておりますので、弊社スタッフがお客様にご理解頂けるまで何度でもご説
        　　　明致します。<br /><br>
        　　　尚、弊社には<strong>金融業界での経験があるスタッフも常駐</strong>しておりますので、<br />
        　　　不動産としての資産運用をご検討中のお客様にも弊社のサービスにご満足<br />
        　　　頂けると考えております。
    </div>
   </div><!--right_box_textEND>-->
   
 </div><!--contentsu-inEND>-->
</div><!--contentsuEND>-->