<div id="side">
    <dl>
     <dt>
        <%= image_tag("footer/footer_menu.png", size: "240x50", alt: "Footer Menu") %>
     </dt>
      <dd>
        <%= link_to image_tag("footer/unei.jpg", size: "238x50", alt: "運営会社"), company_path %>
      </dd>
      <dd>
        <%= link_to image_tag("footer/kiyaku.jpg", size: "238x50", alt: "利用規約"), terms_path %>
      </dd>
      <dd>
        <%= link_to image_tag("footer/gaido.jpg", size: "238x50", alt: "ガイドライン"), guideline_path %>
      </dd>
      <dd>
        <%= link_to image_tag("footer/poricy.jpg", size: "238x50", alt: "プライバシポリシー"), policy_path %>
      </dd>
      <dd>
        <%= link_to image_tag("footer/otoiawase.jpg", size: "238x50", alt: "お問い合わせ"), inquiry_path %>
      </dd>
    </dl>
</div><!--side END-->