<div class="slide-box clearfix">
  <div id="gallery" class="section">
    <div class="sectionContent">
	    <ul id="photoGallery">
		    <li><%= link_to image_tag("slide/nike.jpg", size: "530x370", alt: "NIKE 1 LOVE トラフ建築設計事務所"), root_path %></li>
		    <li><%= link_to image_tag("slide/dancing.jpg", size: "530x370", alt: "Dancing 中村拓志"), root_path %></li>
		    <li><%= link_to image_tag("slide/housen.jpg", size: "530x370", alt: "HouseN 藤本壮介"), root_path %></li>
		    <li><%= link_to image_tag("slide/cafe.jpg", size: "530x370", alt: "Cafe La Miell 谷尻誠"), root_path %></li>
		    <li><%= link_to image_tag("slide/sarugaku.jpg", size: "530x370", alt: "Sarugaku 平田晃久"), root_path %></li>
		    <li><%= link_to image_tag("slide/bayside.jpg", size: "530x370", alt: "Bayside 吉村"), root_path %></li>
		    <li><%= link_to image_tag("slide/anteprima.jpg", size: "530x370", alt: "ANTEPRIMA 永山祐子"), root_path %></li>
		    <li><%= link_to image_tag("slide/jins.jpg", size: "530x370", alt: "Jin's 中村竜治"), root_path %></li>
		    <li><%= link_to image_tag("slide/houseo.jpg", size: "530x370", alt: "House O 五十嵐淳"), root_path %></li>
		    <li><%= link_to image_tag("slide/yumenonaka.jpg", size: "530x370", alt: "夢の中の洞窟 大西麻貴"), root_path %></li>
	    </ul>
    </div>
    <div class="sectionContent2">
	    <ul id="photoGallery2">
		    <li><%= link_to image_tag("slide/1.jpg", size: "300x370", alt: "U35"), 'http://u35.aaf.ac/', {:target => "_blank"} %></li>
		    <li><%= link_to image_tag("slide/2.jpg", size: "300x370", alt: "フランクゲーリー展"), 'http://www.2121designsight.jp/program/frank_gehry/', {:target => "_blank"} %></li>
		    <li><%= link_to image_tag("slide/3.jpg", size: "300x370", alt: "GOOD DESIGN AWARD"), 'http://www.g-mark.org/', {:target => "_blank"} %></li>
		    <li><%= link_to image_tag("slide/4.jpg", size: "300x370", alt: "都市未来のオペレーション"), 'http://www.tokyo-ws.org/archive/2015/07/h0808.shtml', {:target => "_blank"} %></li>
		    <li><%= link_to image_tag("slide/5.jpg", size: "300x370", alt: "ル・コルビジェ展"), 'http://nama.bunka.go.jp/kikak/kikak/1507/', {:target => "_blank"} %></li>
	    </ul>
    </div>
  </div>
</div>