<div class="right-in">
     <ul>
      <li class="rin-1"><%= link_to image_tag("top/torafu.jpg", size: "300x85", alt: "トラフ建築設計事務所"), torafu_path %></li>
      <li class="rin-2"><%= link_to image_tag("top/nakamura_h.jpg", size: "300x85", alt: "中村拓志建築設計事務所"), nakamurah_path %></li>
      <li class="rin-2"><%= link_to image_tag("top/fujimoto.jpg", size: "300x85", alt: "藤本壮介建築設計事務所"), fujimoto_path %></li>
      <li class="rin-2"><%= link_to image_tag("top/tanijiri.jpg", size: "300x85", alt: "谷尻誠建築設計事務所"), tanijiri_path %></li>
      <li class="rin-2"><%= link_to image_tag("top/hirata.jpg", size: "300x85", alt: "平田晃久建築設計事務所"), hirata_path %></li>
      <li class="rin-2"><%= link_to image_tag("top/yoshimura.jpg", size: "300x85", alt: "吉村靖孝建築設計事務所"), yoshimura_path %></li>
      <li class="rin-2"><%= link_to image_tag("top/nakamura_r.jpg", size: "300x85", alt: "中村竜治建築設計事務所"), nakamurar_path %></li>
      <li class="rin-2"><%= link_to image_tag("top/nagayama.jpg", size: "300x85", alt: "永山祐子建築設計事務所"), nagayama_path %></li>
      <li class="rin-2"><%= link_to image_tag("top/igarashi.jpg", size: "300x85", alt: "五十嵐淳建築設計事務所"), igarashi_path %></li>
      <li class="rin-2"><%= link_to image_tag("top/oonishi.jpg", size: "300x85", alt: "大西麻貴建築設計事務所"), oonishi_path %></li>
     </ul>
    </div><!--right-in END>-->