<div id="tab4" class="tab">
   	  <div class="min-box">
        <h3 class="box-title"<a href="#">ハーマンミラーストア東京</a></h3>
        <p class="h-img"><a href="#"><%= image_tag("top/harman.jpg", size: "260x170", alt: "ハーマンミラーストア東京") %></a></p>
        <ul class="attr clearfix">
          <li class="date"><a href="#">トラフ建築設計事務所</a></li>
          <li class="cat">Commercial</li>
        </ul>
        <p class="box-text">計画地である丸の内の周辺環境を踏まえ、公園のような気軽さを持って訪れることのできるストアを提案した。床面に配された多種多様な素材は、空間に彩りを与える。
        </p>
        <p class="more"></p>
      </div><!--min-box end--> 
      <div class="min-box">
        <h3 class="box-title"<a href="#">Shibuya-Publishing</a></h3>
        <p class="h-img"><a href="#"><%= image_tag("top/Shibuya-Publishing.jpg", size: "260x170", alt: "Shibuya-Publishing") %></a></p>
        <ul class="attr clearfix">
          <li class="date"><a href="#">NAP建築設計事務所</a></li>
          <li class="cat">Commercial</li>
        </ul>
        <p class="box-text">『Shibuya Publishing』のコンセプトは「手作りパン屋のさんのように、そこで作った本を体感できる」。空間はシンプルで、真ん中に長いテーブルがある。
        </p>
        <p class="more"></p>
      </div><!--min-box end--> 
      <div class="min-box">
        <h3 class="box-title"<a href="#">台湾タワー</a></h3>
        <p class="h-img"><a href="#"><%= image_tag("top/taiwan.jpg", size: "260x170", alt: "台湾タワー") %></a></p>
        <ul class="attr clearfix">
          <li class="date"><a href="#">藤本壮介建築設計事務所</a></li>
          <li class="cat">Commercial</li>
        </ul>
        <p class="box-text">『台湾タワー』は「21世紀のオアシス」となることを目指し計画された。上空300mには緑溢れる空中庭園が広がり、地上には木漏れ日が差し込む憩いの場が生まれる。
        </p>
        <p class="more"></p>
      </div><!--min-box end--> 
      <div class="min-box">
        <h3 class="box-title"<a href="#">The-South-Harbor-Resort</a></h3>
        <p class="h-img"><a href="#"><%= image_tag("top/The-South-Harbor-Resort.jpg", size: "260x170", alt: "The-South-Harbor-Resort") %></a></p>
        <ul class="attr clearfix">
          <li class="date"><a href="#">谷尻誠建築設計事務所</a></li>
          <li class="cat">Commercial</li>
        </ul>
        <p class="box-text">『The South Harbor Resort』は広島にある結婚式場である。外装は木を基調とした落ち着いた雰囲気で、センスの良い家具を配置し、開放感溢れる造りになっている。
        </p>
        <p class="more"></p>
      </div><!--min-box end--> 
      <div class="min-box">
        <h3 class="box-title"<a href="#">桝屋本店</a></h3>
        <p class="h-img"><a href="#"><%= image_tag("top//masuya.jpg", size: "260x170", alt: "桝屋本店") %></a></p>
        <ul class="attr clearfix">
          <li class="date"><a href="#">平田晃久建築設計事務所</a></li>
          <li class="cat">Commercial</li>
        </ul>
        <p class="box-text">桝屋本店』は建物としては一見してかなり直線的な成り立ちとなっているが、5mグリッドで立てらた構造体でもある壁を対角線状に斜めにカットして構成されている。
        </p>
        <p class="more"></p>
      </div><!--min-box end--> 
      <div class="min-box">
        <h3 class="box-title"<a href="#">SAIKO-JI</a></h3>
        <p class="h-img"><a href="#"><%= image_tag("top/SAIKO-JI.jpg", size: "260x170", alt: "SAIKO-JI") %></a></p>
        <ul class="attr clearfix">
          <li class="date"><a href="#">吉村靖孝建築設計事務所</a></li>
          <li class="cat">Commercial</li>
        </ul>
        <p class="box-text">赤茶けたコールテン綱で覆われた外壁、段状に積み上げられた形態から生み出された外観のインパクトは、寺院だとは思えないディティールをしている。
        </p>
        <p class="more"></p>
      </div><!--min-box end--> 
      <div class="min-box">
        <h3 class="box-title"<a href="#">plants</a></h3>
        <p class="h-img"><a href="#"><%= image_tag("top/plants.jpg", size: "260x170", alt: "plants") %></a></p>
        <ul class="attr clearfix">
          <li class="date"><a href="#">中村竜治建築設計事務所</a></li>
          <li class="cat">Commercial</li>
        </ul>
        <p class="box-text">『plants』は内部構造はなるべくいじることなく台形の棚の連続による構成となっている。棚が林立することにより、小さな商品が空間に負けることなく際立たつ。<br>
        </p>
        <p class="more"></p>
      </div><!--min-box end--> 
      <div class="min-box">
        <h3 class="box-title"<a href="#">木屋旅館</a></h3>
        <p class="h-img"><a href="#"><%= image_tag("top/kiyaryokan.jpg", size: "260x170", alt: "木屋旅館") %></a></p>
        <ul class="attr clearfix">
          <li class="date"><a href="#">永山祐子建築設計事務所</a></li>
          <li class="cat">Commercial</li>
        </ul>
        <p class="box-text">水平方向に視線が抜けている現状の空間に対し、垂直方向に空間を引いていった。２Fの床の３カ所を広い範囲で抜き、畳の代わりに透明のアクリル床に置き換える。
        </p>
        <p class="more"></p>
      </div><!--min-box end--> 
      <div class="min-box">
        <h3 class="box-title"<a href="#">ホロロ原野の直方体</a></h3>
        <p class="h-img"><a href="#"><%= image_tag("top/hororo.jpg", size: "260x170", alt: "ホロロ原野の直方体") %></a></p>
        <ul class="attr clearfix">
          <li class="date"><a href="#">五十嵐淳建築設計事務所</a></li>
          <li class="cat">Commercial</li>
        </ul>
        <p class="box-text">ホロロ原野の直方体』はファサードもインテリアも真っ白で統一され、一階部分は開口部を最大限にとってあるのでとても明るい造りになっており、白く艶のある素材が美しい。
        </p>
        <p class="more"></p>
      </div><!--min-box end--> 
      <div class="min-box">
        <h3 class="box-title"<a href="#">地層のフォーリー</a></h3>
        <p class="h-img"><a href="#"><%= image_tag("top/tisou.jpg", size: "260x170", alt: "地層のフォーリー") %></a></p>
        <ul class="attr clearfix">
          <li class="date"><a href="#">大西麻貴建築設計事務所</a></li>
          <li class="cat">Commercial</li>
        </ul>
        <p class="box-text">福岡の埋立地にある、アイランドシティ中央公園内に建つフォリー（あずまや）である。どこまでも水平な地面が続く人工の島に、新しい地形をつくりたいと考えた構成になっている。
        </p>
        <p class="more"></p>
      </div><!--min-box end--> 
</div><!--tab4 END -->