<div id="tab1">
     <div class="min-box">
       <h3 class="box-title"><a href="#">港北の家</a></h3>
       <p class="h-img"><a href="#"><%= image_tag("top/kouhoku-h.jpg", size: "260x170", alt: "港北の家") %></a></p>
       <ul class="attr clearfix">
        <li class="date"><a href="#">トラフ建築設計事務所</a></li>
        <li class="cat">House</li>
       </ul>
       <p class="box-text">｢光を採り込む筒型屋根の集合による柔らかな分節と連続」フジツボが集まってできたような筒型の屋根が、隣地の建物を避けて方々に向きながら上部から光を採り込む。
       </p>
       <p class="more"></p>
     </div><!--min-box end--> 
     
     <div class="min-box2">
     <h3 class="box-title"><a href="#">Dancing trees Singing birds</a></h3>
     <p class="h-img"><a href="#"><%= image_tag("top/dancing-h.jpg", size: "260x170", alt: "Dancing trees Singing birds") %></a></p>
     <ul class="attr clearfix">
      <li class="date"><a href="#">NAP建築設計事務所</a></li>
      <li class="cat">House</li>
     </ul>
     <p class="box-text">『Dancing tree Singing birds』は都心の一等地に建っている集合住宅である。中村拓志はこの建築を創造するにあたり、「木々が建物の形を決めていった。
     </p>
     <p class="more"></p>
    </div><!--min-box end-->
    
    <div class="min-box3">
     <h3 class="box-title"><a href="#">House-K</a></h3>
     <p class="h-img"><a href="#"><%= image_tag("top/house-k.jpg", size: "260x170", alt: "House-K") %></a></p>
     <ul class="attr clearfix">
      <li class="date"><a href="#">藤本壮介建築設計事務所</a></li>
      <li class="cat">House</li>
     </ul>
     <p class="box-text">『House K』は、屋根がテラスになるユニークな住宅である。急斜面の丘になったような形状の建物は、地面から傾斜が始まっており、建物西側は2階の高さ迄になっている。
     </p>
     <p class="more"></p>
    </div><!--min-box end-->

    <div class="min-box4">
     <h3 class="box-title"><a title="地御前の家" href="#">地御前の家</a></h3>
     <p class="h-img"><a href="#"><%= image_tag("top/jigozen-h.jpg", size: "260x170", alt: "地御前の家") %></a></p>
     <ul class="attr clearfix">
      <li class="date"><a href="#">谷尻誠建築設計事務所</a></li>
      <li class="cat">House</li>
     </ul>
     <p class="box-text">『地御前の家の家』は海の前に建つ３人家族のための住宅である。この建築は、内部と外部のあいだ、半屋外空間があることで外部と内部の環境を緩やかに繋いでいる。</p>
     <p class="more"></p>
    </div><!--min-box end-->

    <div class="min-box3">
     <h3 class="box-title"><a title="one-roof-apartment" href="#">one-roof-apartment</a></h3>
     <p class="h-img"><a href="#"><%= image_tag("top/one-roof-apartment.jpg", size: "260x170", alt: "one-roof-apartment") %></a></p>
     <ul class="attr clearfix">
      <li class="date"><a href="#">平田晃久建築設計事務所</a></li>
      <li class="cat">House</li>
     </ul>
     <p class="box-text">『one roof apartment』は新潟にある集合住宅です。ここは雪が積もる場所なので、大きな要領を二つに分岐させ北風や雪から守られたスペースをつくるように構想された。
     </p>
     <p class="more"></p>
    </div><!--min-box end-->

    <div class="min-box4">
     <h3 class="box-title"><a title="MEZZANINE" href="#">MEZZANINE</a></h3>
     <p class="h-img"><a href="#"><%= image_tag("top/mezzanine.jpg", size: "260x170", alt: "mezzanine") %></a></p>
     <ul class="attr clearfix">
      <li class="date"><a href="#">吉村靖孝建築設計事務所</a></li>
      <li class="cat">House</li>
     </ul>
     <p class="box-text">「MEZZANINE」は富士北山麓の別荘である。南側に充分な大きさの庭を確保した上で、北側の借景を取り込んで最大限この敷地を大きく使うよう配慮した。
     </p>
     <p class="more"></p>
    </div><!--min-box end-->


    <div class="min-box3">
     <h3 class="box-title"><a title="丘のある家" href="#">丘のある家</a></h3>
     <p class="h-img"><a href="#"><%= image_tag("top/okano-h.jpg", size: "260x170", alt: "丘のある家") %></a></p>
     <ul class="attr clearfix">
      <li class="date"><a href="#">永山祐子建築設計事務所</a></li>
      <li class="cat">House</li>
     </ul>
     <p class="box-text">「丘のある家」は、狭い道と高い建物に囲まれた住宅である。奥行きを生む丘に見立てた屋根の先端には届かない場所の象徴として小さな白いオブジェか設置されている。
     </p>
     <p class="more"></p>
    </div><!--min-box end-->

    <div class="min-box4">
     <h3 class="box-title"><a title="House-M" href="#">House-M</a></h3>
     <p class="h-img"><a href="#"><%= image_tag("top/house-m.jpg", size: "260x170", alt: "House-M") %></a></p>
     <ul class="attr clearfix">
      <li class="date"><a href="#">五十嵐淳建築設計事務所</a></li>
      <li class="cat">House</li>
     </ul>
     <p class="box-text">『House M』はとても天井が高く設定させれている。各単位空間の周りにはバッファーを設けるようにしており、それは廊下であったり、外部であったりすること。
     </p>
     <p class="more"></p>
    </div><!--min-box end-->

    <div class="min-box5">
     <h3 class="box-title"><a title="二重螺旋の家" href="#">二重螺旋の家</a></h3>
     <p class="h-img"><a href="#"><%= image_tag("top/rasen-h.jpg", size: "260x170", alt: "二重螺旋の家") %></a></p>
     <ul class="attr clearfix">
      <li class="date"><a href="#">大西麻貴建築設計事務所</a></li>
      <li class="cat">House</li>
     </ul>
     <p class="box-text">『二重螺旋の家』は東京世田谷の小さな住宅である。敷地が旗竿形状であったため、路地からの内部まで続くアプローチがそのまま螺旋状に巻きついている。
     </p>
     <p class="more"></p>
    </div><!--min-box end-->
     
</div><!--tab1 END -->