<div id="tab2" class="tab">
      <div class="min-box">
     <h3 class="box-title"><a href="#">インスタレーション</a></h3>
     <p class="h-img"><a href="#"><%= image_tag("top/installation.jpg", size: "260x170", alt: "インスタレーション") %></a></p>
     <ul class="attr cfx">
      <li class="date"><a href="#">トラフ建築設計事務所</a></li>
      <li class="cat">Interior</li>
     </ul>
     <p class="box-text">｢TOKYO DESIGNERS WEEK2011における、ドコモの携帯端末UIを利用した「docomo Palette UI」のためのインスタレーションと、TOTOの水を表現した「MINAMO」である。
     </p>
     <p class="more"></p>
    </div><!--min-box end--> 
    
    <div class="min-box2">
     <h3 class="box-title"><a title="Tokyo's-Tokyo" href="#">Tokyo's Tokyo</a></h3>
     <p class="h-img"><a href="#"><%= image_tag("top/Tokyos-Tokyo.jpg", size: "260x170", alt: "Tokyo's Tokyo") %></a></p>
     <ul class="attr cfx">
      <li class="date"><a href="#">NAP建築設計事務所</a></li>
      <li class="cat">Interior</li>
     </ul>
     <p class="box-text">『Tokyo's Tokyo』は、羽田空港にできた東京発の旅のお土産店舗だ。第２旅客ターミナルの３階、ブックショップやステーショナリーショップなどが軒を並べるエリアに在る。 </p>
     <p class="more"></p>
    </div><!--min-box end-->
    
    <div class="min-box3">
     <h3 class="box-title"><a title="House-K" href="#">House Na</a></h3>
     <p class="h-img"><a href="#"><%= image_tag("top/housena.jpg", size: "260x170", alt: "House Na") %></a></p>
     <ul class="attr cfx">
      <li class="date"><a href="#">藤本壮介建築設計事務所</a></li>
      <li class="cat">Interior</li>
     </ul>
     <p class="box-text">この建築は、例えるならばジャングルジムのようである。普通は家具等でインテリアを整えるが、空間を構成しているリブ達を巧みに用いてインテリアとしている。これは住宅に対する新しい可能性である。
     
     </p>
     <p class="more"></p>
    </div><!--min-box end-->

    <div class="min-box4">
     <h3 class="box-title"><a title="earth-music" href="#">earthmusic&ecology Store</a></h3>
     <p class="h-img"><a href="#"><%= image_tag("top/earth-music.jpg", size: "260x170", alt: "earthmusic&ecology Store") %></a></p>
     <ul class="attr cfx">
      <li class="date"><a href="#">谷尻誠建築設計事務所</a></li>
      <li class="cat">Interior</li>
     </ul>
     <p class="box-text">『earthmusic&ecology Store』は林立した木の柱を構造にし、木の天板で挟み込んでいる。柱は木の自然色と白く塗られた2色で構成されており、場所によって見える景色が変化する。
     </p>
     <p class="more"></p>
    </div><!--min-box end-->

    <div class="min-box3">
     <h3 class="box-title"><a title="Yoshioka-Library" href="#">Yoshioka Library</a></h3>
     <p class="h-img"><a href="#"><%= image_tag("top/yoshioka-l.jpg", size: "260x170", alt: "Yoshioka Library") %></a></p>
     <ul class="attr cfx">
      <li class="date"><a href="#">平田晃久建築設計事務所</a></li>
      <li class="cat">Interior</li>
     </ul>
     <p class="box-text">『Yoshioka Library』は建築を志す人々の情報収集および情報発信の場となることを目指し誕生した。廃止になった建築雑誌や古くて貴重な本などを貯蔵している。
     </p>
     <p class="more"></p>
    </div><!--min-box end-->

    <div class="min-box4">
     <h3 class="box-title"><a title="TDW05" href="#">TDW05-HOUSE-STYLING</a></h3>
     <p class="h-img"><a href="#"><%= image_tag("top/TDW05.jpg", size: "260x170", alt: "TDW05") %></a></p>
     <ul class="attr cfx">
      <li class="date"><a href="#">吉村靖孝建築設計事務所</a></li>
      <li class="cat">Interior</li>
     </ul>
     <p class="box-text">「TDW05-HOUSE-STYLING」は作品を内包し展示するためにデザインされた。無数に空いた覗き穴から見ると、色々な角度で作品を見てもらうことができる。
     </p>
     <p class="more"></p>
    </div><!--min-box end-->

    <div class="min-box3">
     <h3 class="box-title"><a title="kami" href="#">kami</a></h3>
     <p class="h-img"><a href="#"><%= image_tag("top/kami.jpg", size: "260x170", alt: "kami") %></a></p>
     <ul class="attr cfx">
      <li class="date"><a href="#">中村竜治建築設計事務所</a></li>
      <li class="cat">Interior</li>
     </ul>
     <p class="box-text">『kami』シリーズは中村竜治の繊細なイメージの象徴である。この「hechima」は紙を使って波板を重ねてつくる椅子で、波板のくり抜き方でいろいろな形ができるというものです。
     </p>
     <p class="more"></p>
    </div><!--min-box end-->

    <div class="min-box4">
     <h3 class="box-title"><a title="Afloat" href="#">Afloat</a></h3>
     <p class="h-img"><a href="#"><%= image_tag("top/Afloat.jpg", size: "260x170", alt: "Afloat") %></a></p>
     <ul class="attr cfx">
      <li class="date"><a href="#">永山祐子建築設計事務所</a></li>
      <li class="cat">Interior</li>
     </ul>
     <p class="box-text">表参道のハナエモリビルの裏手にある大きな美容室。所々吹き抜けのある1〜2層の高さを持つ空間に直径2.4m、22個のパラボラアンテナが床から一定の高さに吊るされている。
     </p>
     <p class="more"></p>
    </div><!--min-box end-->

    <div class="min-box5">
     <h3 class="box-title"><a title="TOTO" href="#">状態の構築展</a></h3>
     <p class="h-img"><a href="#"><%= image_tag("top/TOTO.jpg", size: "260x170", alt: "状態の構築展") %></a></p>
     <ul class="attr cfx">
      <li class="date"><a href="#">五十嵐淳建築設計事務所</a></li>
      <li class="cat">Interior</li>
     </ul>
     <p class="box-text">『TOTOギャラリー 状態の構築展』は五十嵐淳のこれまでの作品を展示する個展である。スケールアップした模型や、個展のために作成したインスタレーション等がも展示している。
     </p>
     <p class="more"></p>
    </div><!--min-box end-->

    <div class="min-box6">
     <h3 class="box-title"><a title="大西麻貴 展覧会" href="#">大西麻貴 展覧会</a></h3>
     <p class="h-img"><a href="#"><%= image_tag("top/tenrankai.jpg", size: "260x170", alt: "大西麻貴 展覧会") %></a></p>
     <ul class="attr cfx">
      <li class="date"><a href="#">大西麻貴建築設計事務所</a></li>
      <li class="cat">Interior</li>
     </ul>
     <p class="box-text">ヨコハマトリエンナーレ2011特別連携プログラム、新港村にて行われた展覧会。東京デザイナーズウィーク2010のブースデザインのためにペットボトルを使用して制作したライト。
     </p>
     <p class="more"></p>
    </div><!--min-box end--> 
</div><!--tab2 END -->