<div id="tab3" class="tab">
  
   	  <div class="min-box">
        <h3 class="box-title"><a href="#">井の頭公園の住宅</a></h3>
        <p class="h-img"><a href="#"><%= image_tag("top/inogashira.jpg", size: "260x170", alt: "inogashira") %></a></p>
        <ul class="attr clearfix">
          <li class="date"><a href="#">トラフ建築設計事務所</a></li>
          <li class="cat">Renovation</li>
        </ul>
        <p class="box-text">もともと社宅であった建物を一棟まるごとリノベーションして分譲マンションとして再生する計画の中で、一住戸のリノベーションを手掛けた。家の中全体を巡るラインをつくった。
        </p>
        <p class="more"></p>
      </div><!--min-box end--> 
      
      <div class="min-box">
        <h3 class="box-title"><a href="#">Crystal Place</a></h3>
        <p class="h-img"><a href="#"><%= image_tag("top/Crystal.jpg", size: "260x170", alt: "Crystal Place") %></a></p>
        <ul class="attr clearfix">
          <li class="date"><a href="#">NAP建築設計事務所</a></li>
          <li class="cat">Renovation</li>
        </ul>
        <p class="box-text">「秘密の花園」のコンセプトのもと、照明をぐっと落とした暗い空間に真っ白いスポット光が商品を照らすという空間構成である。床は最近多い黒い光沢のモザイクタイルだ。
        </p>
        <p class="more"></p>
      </div><!--min-box end--> 
      
      <div class="min-box">
        <h3 class="box-title"><a href="#">sacai</a></h3>
        <p class="h-img"><a href="#"><%= image_tag("top/sacai.jpg", size: "260x170", alt: "sacai") %></a></p>
        <ul class="attr clearfix">
          <li class="date"><a href="#">藤本壮介建築設計事務所</a></li>
          <li class="cat">Renovation</li>
        </ul>
        <p class="box-text">『sacai』は店舗設計のリノベーションである。様々な資材を使用した店内は、自然と人工物、外と中、新と旧など相反する要素を融合している。剥き出しのコンクリート構成だ。
        </p>
        <p class="more"></p>
      </div><!--min-box end--> 
      
      <div class="min-box">
        <h3 class="box-title"><a href="#">STUDIOUS 1st</a></h3>
        <p class="h-img"><a href="#"><%= image_tag("top/STUDIOUS.jpg", size: "260x170", alt: "STUDIOUS") %></a></p>
        <ul class="attr clearfix">
          <li class="date"><a href="#">谷尻誠建築設計事務所</a></li>
          <li class="cat">Renovation</li>
        </ul>
        <p class="box-text">『STUDIOUS 1st』はファッションショップのインテリア計画である。STUDIOUS 1stの新コンセプトは『白の融合』である。このお店のテーマカラーである白が基調だ。</p>
        <p class="more"></p>
      </div><!--min-box end--> 
      
      <div class="min-box">
        <h3 class="box-title"><a href="#">HAKUHODO</a></h3>
        <p class="h-img"><a href="#"><%= image_tag("top/TBWA.jpg", size: "260x170", alt: "TBWA") %></a></p>
        <ul class="attr clearfix">
          <li class="date"><a href="#">吉村靖孝建築設計事務所</a></li>
          <li class="cat">Renovation</li>
        </ul>
        <p class="box-text">5周年を迎えた『TBWA-HAKUHODO』のオフィスビルの改修。天井に在る「スカイグリッド」と呼ばれる、光る梁のような照明にはシームレスラインランプを内蔵。
        </p>
        <p class="more"></p>
      </div><!--min-box end-->
      
      <div class="min-box">
        <h3 class="box-title"><a href="#">garden</a></h3>
        <p class="h-img"><a href="#"><%= image_tag("top/garden.jpg", size: "260x170", alt: "garden") %></a></p>
        <ul class="attr clearfix">
          <li class="date"><a href="#">中村竜治建築設計事務所</a></li>
          <li class="cat">Renovation</li>
        </ul>
        <p class="box-text">『garden』は壁に対するインテリアである。京都に在る枯山水と言う砂で波を表現した庭の印象を受ける。波のように立体的に変化することで、アクセントとなる。
        </p>
        <p class="more"></p>
      </div><!--min-box end-->
      
      <div class="min-box">
        <h3 class="box-title"><a href="#">カヤバ珈琲</a></h3>
        <p class="h-img"><a href="#"><%= image_tag("top/kayaba.jpg", size: "260x170", alt: "kayaba") %></a></p>
        <ul class="attr clearfix">
          <li class="date"><a href="#">永山祐子建築設計事務所</a></li>
          <li class="cat">Renovation</li>
        </ul>
        <p class="box-text">「カヤバ珈琲」は光と影を追求する陰翳礼讃の美学を感じる作品であった。内部は大きな窓がある割に比較的薄暗く落ち着いた空間で壁はオリジナルの焦げ茶色だ。
        </p>
        <p class="more"></p>
      </div><!--min-box end--> 
      <div class="min-box">
        <h3 class="box-title"><a href="#">SYMBIOSIS</a></h3>
        <p class="h-img"><a href="#"><%= image_tag("top/SYMBIOSIS.jpg", size: "260x170", alt: "SYMBIOSIS") %></a></p>
        <ul class="attr clearfix">
          <li class="date"><a href="#">五十嵐淳建築設計事務所</a></li>
          <li class="cat">Renovation</li>
        </ul>
        <p class="box-text">『SYMBIOSIS』は商業施設のリノベーション案件である。構造体を剥き出しにすることにより、ブランドイメージである、シンプルさを表現しえいる。
        </p>
        <p class="more"></p>
      </div><!--min-box end--> 
      <div class="min-box">
        <h3 class="box-title"><a href="#">kemono</a></h3>
        <p class="h-img"><a href="Profile/Torafu/syousai/inogashira.html"><%= image_tag("top/kemono.jpg", size: "260x170", alt: "kemono") %></a></p>
        <ul class="attr clearfix">
          <li class="date"><a href="#">大西麻貴建築設計事務所</a></li>
          <li class="cat">Renovation</li>
        </ul>
        <p class="box-text">東京の白金台瑞聖寺で行われた、10日間のインスタレーションである。敷地は高層マンションの立ち並ぶ大通り沿いに残された小さな森のような場所であった。
        </p>
        <p class="more"></p>
      </div><!--min-box end--> 
</div><!--tab3 END -->