<div id="contentsu">
  <div id="contentsu-in" class="clearfix">
	  <div class="title_box">
     <%= image_tag("profile/profile.jpg", size: "320x40", alt: "profile") %>
    </div>
    <div class="title_mid">
     <%= image_tag("profile/midashi.jpg", size: " 1000x20", alt: "midashi") %>
    </div>
    <div class="title_comp">
     <%= image_tag("profile/fujimoto.jpg", size: " 322x87", alt: "torafu") %>
    </div>
    
    <div class="pic-box">
     <ul>
      <li class="l1 f1"><%= link_to image_tag("profile/fujimoto/housen_out.jpg", size: " 300x260", alt: "House N"), root_path %></li>
      <li class="l2 f2"><%= link_to image_tag("profile/fujimoto/housebefore_out.jpg", size: " 300x260", alt: "House before House") %></li>
      <li class="l1 f3"><%= link_to image_tag("profile/fujimoto/housek_out.jpg", size: " 300x260", alt: "house K"), root_path %></li>
      
      <li class="l1 f4"><%= link_to image_tag("profile/fujimoto/housena_out.jpg", size: " 300x260", alt: "house na"), root_path %></li>
      <li class="l2 f5"><%= link_to image_tag("profile/fujimoto/sacai_out", size: " 300x260", alt: "sacai"), root_path %></li>
      <li class="l1 f6"><%= link_to image_tag("profile/fujimoto/taiwan_out.jpg", size: " 300x260", alt: "台湾タワー"), root_path %></li>
     </ul>
    </div>
    
  </div><!--contentsu-in -->
</div><!--contentsu -->