<div id="contentsu">
  <div id="contentsu-in" class="clearfix">
	  <div class="title_box">
     <%= image_tag("profile/profile.jpg", size: "320x40", alt: "profile") %>
    </div>
    <div class="title_mid">
     <%= image_tag("profile/midashi.jpg", size: " 1000x20", alt: "midashi") %>
    </div>
    <div class="title_comp">
     <%= image_tag("profile/hirata.jpg", size: " 322x87", alt: "torafu") %>
    </div>
    
    <div class="pic-box">
     <ul>
      <li class="l1 h1"><%= link_to image_tag("profile/hirata/sarugaku_out.jpg", size: " 300x260", alt: "sarugaku"), root_path %></li>
      <li class="l2 h2"><%= link_to image_tag("profile/hirata/yoshioka_out.jpg", size: " 300x260", alt: "yoshioka library") %></li>
      <li class="l1 h3"><%= link_to image_tag("profile/hirata/ieno_out.jpg", size: " 300x260", alt: "ieno_ie"), root_path %></li>
      
      <li class="l1 h4"><%= link_to image_tag("profile/hirata/one_out.jpg", size: " 300x260", alt: "one roof apart"), root_path %></li>
      <li class="l2 h5"><%= link_to image_tag("profile/hirata/masuya_out", size: " 300x260", alt: "桝屋本店"), root_path %></li>
      <li class="l1 h6"><%= link_to image_tag("profile/hirata/foam_out.jpg", size: " 300x260", alt: "Foam Form"), root_path %></li>
     </ul>
    </div>
    
  </div><!--contentsu-in -->
</div><!--contentsu -->