<div id="contentsu">
  <div id="contentsu-in" class="clearfix">
	  <div class="title_box">
     <%= image_tag("profile/profile.jpg", size: "320x40", alt: "profile") %>
    </div>
    <div class="title_mid">
     <%= image_tag("profile/midashi.jpg", size: " 1000x20", alt: "midashi") %>
    </div>
    <div class="title_comp">
     <%= image_tag("profile/igarashi.jpg", size: " 322x87", alt: "torafu") %>
    </div>
    
    <div class="pic-box">
     <ul>
      <li class="l1 ig1"><%= link_to image_tag("profile/igarashi/houseo_out.jpg", size: " 300x260", alt: "House O"), root_path %></li>
      <li class="l2 ig2"><%= link_to image_tag("profile/igarashi/housem_out.jpg", size: " 300x260", alt: "House M") %></li>
      <li class="l1 ig3"><%= link_to image_tag("profile/igarashi/joutai_out.jpg", size: " 300x260", alt: "状態の構築展"), root_path %></li>
      
      <li class="l1 ig4"><%= link_to image_tag("profile/igarashi/aida_out.jpg", size: " 300x260", alt: "間の門"), root_path %></li>
      <li class="l2 ig5"><%= link_to image_tag("profile/igarashi/hororo_out", size: " 300x260", alt: "ホロロ原野の直方体"), root_path %></li>
      <li class="l1 ig6"><%= link_to image_tag("profile/igarashi/symbi_out.jpg", size: " 300x260", alt: "SYMBIOSIS"), root_path %></li>
     </ul>
    </div>
    
  </div><!--contentsu-in -->
</div><!--contentsu -->z