<div id="contentsu">
  <div id="contentsu-in" class="clearfix">
	  <div class="title_box">
     <%= image_tag("profile/profile.jpg", size: "320x40", alt: "profile") %>
    </div>
    <div class="title_mid">
     <%= image_tag("profile/midashi.jpg", size: " 1000x20", alt: "midashi") %>
    </div>
    <div class="title_comp">
     <%= image_tag("profile/nagayama.jpg", size: " 322x87", alt: "torafu") %>
    </div>
    
    <div class="pic-box">
     <ul>
      <li class="l1 ng1"><%= link_to image_tag("profile/nagayama/kiya_out.jpg", size: " 300x260", alt: "木屋旅館"), root_path %></li>
      <li class="l2 ng2"><%= link_to image_tag("profile/nagayama/oka_out.jpg", size: " 300x260", alt: "丘のある住宅") %></li>
      <li class="l1 ng3"><%= link_to image_tag("profile/nagayama/ante_out.jpg", size: " 300x260", alt: "ANTEPRIMA"), root_path %></li>
      
      <li class="l1 ng4"><%= link_to image_tag("profile/nagayama/kayaba_out.jpg", size: " 300x260", alt: "カバヤ"), root_path %></li>
      <li class="l2 ng5"><%= link_to image_tag("profile/nagayama/sisii_out", size: " 300x260", alt: "sisii"), root_path %></li>
      <li class="l1 ng6"><%= link_to image_tag("profile/nagayama/afloat_out.jpg", size: " 300x260", alt: "Afloat"), root_path %></li>
     </ul>
    </div>
    
  </div><!--contentsu-in -->
</div><!--contentsu -->