<div id="contentsu">
  <div id="contentsu-in" class="clearfix">
	  <div class="title_box">
     <%= image_tag("profile/profile.jpg", size: "320x40", alt: "profile") %>
    </div>
    <div class="title_mid">
     <%= image_tag("profile/midashi.jpg", size: " 1000x20", alt: "midashi") %>
    </div>
    <div class="title_comp">
     <%= image_tag("profile/nakamurah.jpg", size: " 322x87", alt: "torafu") %>
    </div>
    
    <div class="pic-box">
     <ul>
      <li class="l1 nh1"><%= link_to image_tag("profile/nakamurah/bird_out.jpg", size: " 300x260", alt: "Dancing trees Singing birds"), root_path %></li>
      <li class="l2 nh2"><%= link_to image_tag("profile/nakamurah/tisou_out.jpg", size: " 300x260", alt: "地層の家") %></li>
      <li class="l1 nh3"><%= link_to image_tag("profile/nakamurah/tokyo_out.jpg", size: " 300x260", alt: "Tokyo's Tokyo"), root_path %></li>
      
      <li class="l1 nh4"><%= link_to image_tag("profile/nakamurah/lanvin_out.jpg", size: " 300x260", alt: "Lanvin 銀座"), root_path %></li>
      <li class="l2 nh5"><%= link_to image_tag("profile/nakamurah/crystal_out", size: " 300x260", alt: "Crystal Palace"), root_path %></li>
      <li class="l1 nh6"><%= link_to image_tag("profile/nakamurah/lotus_out.jpg", size: " 300x260", alt: "Lotus Beauty Salon"), root_path %></li>
     </ul>
    </div>
    
  </div><!--contentsu-in -->
</div><!--contentsu -->