<div id="contentsu">
  <div id="contentsu-in" class="clearfix">
	  <div class="title_box">
     <%= image_tag("profile/profile.jpg", size: "320x40", alt: "profile") %>
    </div>
    <div class="title_mid">
     <%= image_tag("profile/midashi.jpg", size: " 1000x20", alt: "midashi") %>
    </div>
    <div class="title_comp">
     <%= image_tag("profile/oonishi.jpg", size: " 322x87", alt: "torafu") %>
    </div>
    
    <div class="pic-box">
     <ul>
      <li class="l1 oo1"><%= link_to image_tag("profile/oonishi/yumeno_out.jpg", size: " 300x260", alt: "House O"), root_path %></li>
      <li class="l2 oo2"><%= link_to image_tag("profile/oonishi/rasen_out.jpg", size: " 300x260", alt: "House M") %></li>
      <li class="l1 oo3"><%= link_to image_tag("profile/oonishi/tisou_out.jpg", size: " 300x260", alt: "状態の構築展"), root_path %></li>
      
      <li class="l1 oo4"><%= link_to image_tag("profile/oonishi/mado_out.jpg", size: " 300x260", alt: "間の門"), root_path %></li>
      <li class="l2 oo5"><%= link_to image_tag("profile/oonishi/kemono_out", size: " 300x260", alt: "ホロロ原野の直方体"), root_path %></li>
      <li class="l1 oo6"><%= link_to image_tag("profile/oonishi/insta_out.jpg", size: " 300x260", alt: "SYMBIOSIS"), root_path %></li>
     </ul>
    </div>
    
  </div><!--contentsu-in -->
</div><!--contentsu -->z