<div id="contentsu">
  <div id="contentsu-in" class="clearfix">
	  <div class="title_box">
     <%= image_tag("profile/profile.jpg", size: "320x40", alt: "profile") %>
    </div>
    <div class="title_mid">
     <%= image_tag("profile/midashi.jpg", size: " 1000x20", alt: "midashi") %>
    </div>
    <div class="title_comp">
     <%= image_tag("profile/tanijiri.jpg", size: " 322x87", alt: "torafu") %>
    </div>
    
    <div class="pic-box">
     <ul>
      <li class="l1 tj1"><%= link_to image_tag("profile/tanijiri/cafe_out.jpg", size: " 300x260", alt: "CAFE La Miell"), root_path %></li>
      <li class="l2 tj2"><%= link_to image_tag("profile/tanijiri/shinpen_out.jpg", size: " 300x260", alt: "神辺の家") %></li>
      <li class="l1 tj3"><%= link_to image_tag("profile/tanijiri/studious_out.jpg", size: " 300x260", alt: "井の頭公園の家"), root_path %></li>
      
      <li class="l1 tj4"><%= link_to image_tag("profile/tanijiri/jigozen_out.jpg", size: " 300x260", alt: "地御前の家"), root_path %></li>
      <li class="l2 tj5"><%= link_to image_tag("profile/tanijiri/resort_out", size: " 300x260", alt: "Harbor Resort"), root_path %></li>
      <li class="l1 tj6"><%= link_to image_tag("profile/tanijiri/earth_out.jpg", size: " 300x260", alt: "earth music&ecology Head Store"), root_path %></li>
     </ul>
    </div>
    
  </div><!--contentsu-in -->
</div><!--contentsu -->