<div id="contentsu">
  <div id="contentsu-in" class="clearfix">
	  <div class="title_box">
     <%= image_tag("profile/profile.jpg", size: "320x40", alt: "profile") %>
    </div>
    <div class="title_mid">
     <%= image_tag("profile/midashi.jpg", size: " 1000x20", alt: "midashi") %>
    </div>
    <div class="title_comp">
     <%= image_tag("profile/torafu.jpg", size: " 322x87", alt: "torafu") %>
    </div>
    
    <div class="pic-box">
     <ul>
      <li class="l1 t1"><%= link_to image_tag("profile/torafu/nike_out.jpg", size: " 300x260", alt: "nike 1 love"), root_path %></li>
      <li class="l2 t2"><%= link_to image_tag("profile/torafu/kouhoku_out.jpg", size: " 300x260", alt: "港北の家") %></li>
      <li class="l1 t3"><%= link_to image_tag("profile/torafu/inogashira_out.jpg", size: " 300x260", alt: "井の頭公園の家"), root_path %></li>
      
      <li class="l1 t4"><%= link_to image_tag("profile/torafu/harman_out.jpg", size: " 300x260", alt: "ハーマンミラー東京"), root_path %></li>
      <li class="l2 t5"><%= link_to image_tag("profile/torafu/kaiten_out", size: " 300x260", alt: "回転体"), root_path %></li>
      <li class="l1 t6"><%= link_to image_tag("profile/torafu/insta_out.jpg", size: " 300x260", alt: "インスタレーション"), root_path %></li>
     </ul>
    </div>
    
  </div><!--contentsu-in -->
</div><!--contentsu -->