<div id="contentsu">
  <div id="contentsu-in" class="clearfix">
	  <div class="title_box">
     <%= image_tag("profile/profile.jpg", size: "320x40", alt: "profile") %>
    </div>
    <div class="title_mid">
     <%= image_tag("profile/midashi.jpg", size: " 1000x20", alt: "midashi") %>
    </div>
    <div class="title_comp">
     <%= image_tag("profile/yosimura.jpg", size: " 322x87", alt: "torafu") %>
    </div>
    
    <div class="pic-box">
     <ul>
      <li class="l1 y1"><%= link_to image_tag("profile/yoshimura/bayside_out.jpg", size: " 300x260", alt: "BAYSIDE"), root_path %></li>
      <li class="l2 y2"><%= link_to image_tag("profile/yoshimura/tdw_out.jpg", size: " 300x260", alt: "TDW") %></li>
      <li class="l1 y3"><%= link_to image_tag("profile/yoshimura/saikouji_out.jpg", size: " 300x260", alt: "SAIKOUJI"), root_path %></li>
      
      <li class="l1 y4"><%= link_to image_tag("profile/yoshimura/mezzante_out.jpg", size: " 300x260", alt: "MEZZANINE"), root_path %></li>
      <li class="l2 y5"><%= link_to image_tag("profile/yoshimura/tbwa_out", size: " 300x260", alt: "HAKUHODO"), root_path %></li>
      <li class="l1 y6"><%= link_to image_tag("profile/yoshimura/evaes_out.jpg", size: " 300x260", alt: "EAVES"), root_path %></li>
     </ul>
    </div>
    
  </div><!--contentsu-in -->
</div><!--contentsu -->