<div id="contentsu" class="top-padi">
 <div id="contentsu-in" class="clearfix" >
   
   <div class="top-margin">
    <%= render 'shared/sidebar' %>
    <div id="main-footer">
        <h3>
         <%= image_tag("footer/gaido_midashi.png", size: "710x90", alt: "ガイドライン") %>
        </h3>
        <div class="sections">
     <p>　(1) 本ガイドラインは、株式会社Creative Innovation（以下「当社」）が、その開設するサイト「9-NINE」で提供するサービス（以下「本サービス」）における利用条件を定めるものです。お客様は本サービスをご利用いただくことにより、本ガイドラインの内容を承諾いただいたものとみなされます。<br /><br />
     　(2) 本サービスを利用するに当たっては、本ガイドラインのほか、関連する当社の利用規約及びプライバシーポリシー（以下「規約等」）が適用されるものとし、ユーザーはこれらを遵守するものとします。本ガイドラインに使用される用語は、本ガイドラインに定義されるもののほか、規約等において定義される意味によるものとします。
     </p>
    <dl>
     <dt><h4><span>1条 本サービスについて</span></h4></dt>
      <dd>　(1) 本サービスは、建築デザイナーとお客様をマッチングする、「建築プロデューサー」サービスです。<br />
      　お客様は、本サービスを通じ、どなた様でも『完全無料』で9-NINEと提携する建築デザイナーを紹介を受けることができます。<br /><br />
     　 (2)詳しくは『<%= link_to" 9-NINEの詳しい仕組み", about_path %>』をご覧ください</dd>
      
     <dt><h4><span>2条 利用資格について</span></h4></dt>
      <dd> 　(1) 本サービスはどなたでもご利用頂けます。<br /><br />
      　(2) ご利用のお客様は、当社プライバシーポリシーにしたがい取り扱われ、これに同意するものとします。<br /><br />
      </dd>
      
     <dt><h4><span>3条 建築デザイナーの検索について</span></h4></dt>
      <dd>　(1)9-NINEに掲載する建築デザイナーをご覧になりたいお客様は一度『<%= link_to "掲載デザイナー", designer_path %>』をご参照ください。<br /><br />
      　(2)建築デザイナーの提案を希望するお客様は、『<%= link_to "デザイナープロデュース", produce_path %>』をご参照ください。 </dd>
      
     <dt><h4><span>4条 9-NINEで行うサービスについて</span></h4></dt>
      <dd>　(1) 9-NINEでは建築デザイナープロデュースの一環として、「建築デザインコンサルティング」を行っております。<br /><br />
      　詳しくは『<%= link_to "事業概要", business_path %>』をご参照ください。</dd>

     <dt><h4><span>5条 その他について</span></h4></dt>
      <dd>　(1) お客様による過去のご質問は『<%= link_to "Q&A", qa_path %>』をご参照ください。<br /><br />
      
      　(2) その他で、ご不明な点がございましたら、『<%= link_to "お問い合わせ", inquiry_path %>』より必要事項を明記してご連絡ください。
      </dd>
      
      <dt><h4><span>6条 著作権について</span></h4></dt>
      <dd>　(1) 9-NINEに掲載している建築家の情報は全て「建築家の許可」を頂いて掲載しております。<br />
      　許可を頂いた著作物についての権利は、全て建築家に帰属致します。      
      </dd>
     </dl>
       </div>
    </div>
    </div>
  
 </div>
</div>