<div id="footer">
  <div id="under-in" class="clearfix">
    <ul class="clearfix">
      <li><%= link_to "運営者", root_path %></li>
      <li><%= link_to "利用規約", root_path %></li>
      <li><%= link_to "著作権・ガイドライン", root_path %></li>
      <li><%= link_to "プライバシーポリシー", root_path %></li>
      <li><%= link_to "お問い合わせ", root_path %></li>
    </ul>
  </div><!--under-in END-->
  <div id="copylight" class="clearfix">
    <p class="clearfix">CopyLight(C) Creative Innovation. All Rights Reserved.</p>
  </div>
</div><!--footerEND-->
 