<div id="footer">
  <div id="under-in" class="clearfix">
    <ul class="clearfix">
      <li><%= link_to "運営会社", company_path %></li>
      <li><%= link_to "利用規約", terms_path %></li>
      <li><%= link_to "著作権・ガイドライン", guideline_path %></li>
      <li><%= link_to "プライバシーポリシー", policy_path %></li>
      <li><%= link_to "お問い合わせ", inquiry_path %></li>
    </ul>
  </div><!--under-in END-->
  <div id="copylight" class="clearfix">
    <p class="clearfix">CopyLight(C) Creative Innovation. All Rights Reserved.</p>
  </div>
</div><!--footerEND-->
 