<div id="header-top">
 <div id="header-top-box">
  <h3>建築にもブランド価値を与える</h3>
 </div>
</div><!--warraper end-->

<div id="header" class="clearfix">
 <div id="header-box">
   <h1 class="logo">
     <%= link_to image_tag("logo.jpg", size: "500x119", alt: "9-NINE"), root_path %>
   </h1>
   <div id="header-navi" class="clearfix">
     <div class="ls">
       <ul>
         <li class="navi-t"><%= link_to "Home", root_path %></li>
         <li class="navi"><%= link_to "About",   '#' %></li>
         <li class="navi"><%= link_to "Blog",   '#' %></li>
         <li class="navi"><%= link_to "Contact",   '#' %></li>   
       </ul>
     </div>
     <div class="ms">
       <ul>
         <li class="navi-t"><%= link_to "Designer",   '#' %></li> 
         <li class="navi"><%= link_to "Designer Produce",   '#' %></li>
         <li class="navi"><%= link_to "Business Poricy",   '#' %></li>
         <li class="navi"><%= link_to "Q&A",   '#' %></li>   
       </ul>
     </div>
     <div class="rs">
       <p class="name">Creative Innovation Company</p>
       <p class="address">東京都港区六本木1-1-1 505</p>
       <p class="tel">Tel: 03-0000-0000</p>
       <p class="mail">Email: crin-9@creative.jp</p>
     </div>
   </div><!--header-navi end-->
  </div><!--header-in end-->
</div><!--header end-->